
<div class="page-layout">
    <div class="page-content">
        <div class="desktop-sidebar">
           <app-sidebar></app-sidebar>
        </div>

        <div class="page-section">
          
            <div class="milestones-container">
                <app-back-button></app-back-button>
                <span class="small-space"></span>
                <app-h1 [text]="'Astute Roadmap'"></app-h1>
                <span class="extra-standard-space"></span>

                <span class="content-row">
                
                    <span class="column">
                        <span class="column-heading">
                       <app-body2-bold
                       [text]="'December /22'"
                       ></app-body2-bold>
                        </span>

                        <span class="small-space"></span>

                        <app-body3-regular
                        [text]="'Launch of our mobile application, Well. Well, the mobile application that turns financial principles into good astute financial behaviour.'"
                        >

                        </app-body3-regular>

                        <span class="small-space"></span>

                        <app-body3-regular
                        [text]="'Lanch of Wavy, the web application that removes the complexity of building an investment portfolio that is aligned with the market trends.'"
                        ></app-body3-regular>
                      </span>

                      
                      <span class="column">
                        <span class="column-heading">
                       <app-body2-bold
                       [text]="'Feburary /23'"
                       ></app-body2-bold>
                        </span>

                        <span class="small-space"></span>

                        <app-body3-regular
                        [text]="'You will be able to link your banking and investing accounts with Well and Wavy.'"
                        >

                        </app-body3-regular>

                        <span class="small-space"></span>

                        <app-body3-regular
                        [text]="'Share your financial journey with us as we start accepting submission articles and sharing them with our growing community.'"
                        ></app-body3-regular>
                      </span>

                      <span class="column">
                        <span class="column-heading">
                            <app-body2-bold
                            [text]="'March /23'"
                            ></app-body2-bold>
                             </span>
     
                             <span class="small-space"></span>
     
                             <app-body3-regular
                             [text]="'Launch of new features with on Well that help manage insurance, taxes and management of your credit score.'"
                             >
     
                             </app-body3-regular>
     
                             <span class="small-space"></span>
     
                          
                      </span>
                </span>
          
            </div>

        </div>
    </div>
</div>