@use "../../../styles/general/index.scss" as g;

.milestones-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.column{
    width: 228px;
    display: flex;
    flex-direction: column;
    margin-bottom: 36px;
}

.content-row{
    display: flex;
    justify-content: space-between;
}

.column-heading{
    width: 228px;
    height: 38px;
    background-color: g.$neon-green;
    display: flex;
    padding-left:12px ;
    align-items: center;
}


@media (max-width: g.$tablet) {
    .content-row{
        display: flex;
        flex-direction: column;
    } 
}