<app-internal-page-link
[link]="'/roadmap'"
[text]="'View our roadmap'"



></app-internal-page-link>
<span class="medium-space"></span>
<app-internal-page-link
[link]="'/seed-rounds'"
[text]="'Details about our seed round'"
></app-internal-page-link>
<span class="medium-space"></span>
<app-internal-page-link
[link]="'/careers'"
[text]="'Join the team'"
></app-internal-page-link>
<span class="medium-space"></span>
<app-internal-page-link
[link]="'/founder-updates'"
[text]="'Letter from the founder'"
></app-internal-page-link>
<span class="medium-space"></span>
<app-internal-page-link
[link]="'/legals'"
[text]="'Legals and disclaimer'"
></app-internal-page-link>
<span class="extra-standard-space"></span>