<div class="navbar-Container">
    <div class="navbar-Container--content">
        <div class="logo-container">
            <a  class='logo-effect' routerLink="" routerLinkActive=""> <app-logo [text]="'astute'"></app-logo> </a>
          
        </div>
        <div class="links-container">
            <div class="links-container-content">
                <a  class='hover-effect' routerLink="/make" routerLinkActive="'blue-font'"> <app-body1-bold [text]="'make'" [color]="'black-font'"></app-body1-bold></a>
                <a class='hover-effect'  routerLink="/keep" routerLinkActive="'blue-font'">  <app-body1-bold [text]="'keep'" [color]="'black-font'"></app-body1-bold></a>
                <a class='hover-effect'  routerLink="/grow" routerLinkActive="'blue-font'"><app-body1-bold [text]="'grow'" [color]="'black-font'"></app-body1-bold></a>
                <a  class='hover-effect'  routerLink="/your-money" routerLinkActive="'blue-font'">  <app-body1-bold [text]="'your money'" [color]="'black-font'"></app-body1-bold></a>
            </div>
        </div>
    </div>

</div>