@use '../../../../styles/general/index.scss' as g;

.navbar-Container{
    width: 100%;
    background-color: g.$neutral;
    margin: 0px;
    top:0px;
    display: flex;
    height: 56px;
    justify-content: center;
    position: fixed;
}


.navbar-Container--content{
    display: flex;
    flex-direction: row;
    width: g.$desktop-content;
    justify-content: space-between;

}

button{
    border: none;
    background-color: g.$neutral;
    margin: 0px;
    padding: 0px;
}


.button-Row{
    display: flex;
    width: 100%;
    justify-content: flex-end;

}
.logo-container{
    width: g.$desktop-sidebar;
    display: flex;
    align-items: center;
}

.links-container{
   width:854px;
   display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo-effect:hover{
    font-size: 22.5px;
    color: black;
}

.links-container-content{
    width:402px;
    display: flex;
   align-items: center;
   justify-content: space-between;

 }

 .hover-effect:hover{
    color:g.$primary-blue
 }
 

 .hamburger-container{
    display: none;
 }


 .hamburger-container--close{
    display: none;
 }

 .hambruger-link--padding{
    margin-top: 8px;
    margin-bottom: 8px;

 }

 
 @media (max-width: g.$laptop) {

.logo-container{
width: g.$laptop-sidebar;



}

.links-container{
    width: g.$laptop-article-section;
   
   
}

.navbar-Container--content{
    width:g.$laptop-content;
 }
    
 }
 

 @media (max-width: g.$tablet) {
    .logo-container{
        width: g.$tablet-sidebar;
        }
        

     .navbar-Container--content{
        width:g.$tablet-content;

     }
        
        .links-container-content{
            display: none;
            
        }

        .links-container{
            width: g.$tablet-article-section;
        }

            
            .hamburger-container{
                width: 180px;
                height: 183px;
                display: flex;
                background-color: g.$neutral;
                z-index: 1;
                margin-right: 24px;
                margin-top: 16px;
                flex-direction: column;
                align-items: center;
            }



            .hamburger-container--close{
                width: 180px;
                height: 40px;
                display: flex;
                z-index: 1;
                margin-right: 24px;
                margin-top: 16px;
                flex-direction: column;
            }
            
            .links-container-content{
                display: none;
                
            }
    
 }


 @media (max-width: g.$mobile) {
    .logo-container{
        width: 80px;
        height: fit-content;
       
        }
    
        .navbar-Container--content{
            width:g.$mobile-content;
  
            display:flex;
            flex-direction: row;
            align-items: center;
         }
            
            .links-container-content{
                display: none;
                
            }
            .hamburger-container{
                width: 180px;
                height: 140px;
                display: flex;
                margin-top: 100px;
                background-color: g.$neutral;
                z-index: 1;
                margin-right: 24px;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            
            }



            .hamburger-container--close{
                width: 140px;
                height: 40px;
                display: flex;
                background-color: g.$neutral;
                z-index: 1;
                margin-right: 24px;
                margin-top: 16px;
                flex-direction: column;
               
            }
            .hambruger-link--padding{
                margin-top: 2px;
                margin-bottom: 2px;
            
             }
       
    


    
 }

 @media (max-width: g.$small-mobile) {
    .logo-container{
        width: 80px;
       

       
        }
       
            
            .links-container-content{
                display: none;
                
            }

            .hamburger-container{
                width: 800px;
                height: 183px;
                display: flex;
                background-color: g.$neutral;
                z-index: 1;
                margin-top: 175px;
                flex-direction: column;
                align-items: center;
             
            }


         
 .hambruger-link--padding{
    margin-top: 2px;
    margin-bottom: 2px;

 }


            .hamburger-container--close{
                width: 500px;
                height: 40px;
                display: flex;
          
                z-index: 1;
                margin-right: 24px;
                margin-top: 16px;
                flex-direction: column;
              
            }
            
            .navbar-Container--content{
                width:g.$small-mobile-content;
                display:flex;
                flex-direction: row;
                align-items: center;
             }

}
