

<div class="sidebar-content">
    <app-h1 [text]="'What is new?'"></app-h1>
    <span class="small-space"></span>
<app-body1-regular [text]="'Not just a new look'" [color]="'blue-font'"></app-body1-regular>
<span class="standard-space"></span>

<app-body2-regular [text]="'Thanks for your patience, the blogs are back. We want to say a huge thanks for the continious support and patience. Kukura Capital is coming back with new content to keep you financially astute.'"></app-body2-regular>
<span class="standard-space"></span>
<app-body2-regular [text]="'We have been doing a number of test releases for our new astute mobile application. We have made further updates to the app based on your feedback. We will be having our official release 01 December 2023. You can also see what more  products we have in store for you, via our roadmap.'"></app-body2-regular>

<span class="standard-space"></span>

<app-about-links-section></app-about-links-section>



</div>
