<div
class="post-page"
>



<span class="post-page-content">

    <app-back-button></app-back-button>
    <span class="standard-space"></span>


    <span class="column"
    *ngIf="blogPost$ | async as blogPost"
    >
   
    <span class="heading1">
       {{blogPost.fields.postTitle}}
   </span>

   <span class="small-space"></span>

   <span >

    <app-body1-regular [text]=  blogPost.fields.postAuthor
    [color]="'blue-font'"
    ></app-body1-regular>
   
</span>

   <span class="small-space"></span>

   <span >

    <app-body2-bold [text]= blogPost.fields.category
 
    ></app-body2-bold>
   
</span>

<span class="small-space"></span>

<span >

 <app-body2-bold [text]= blogPost.fields.publishedOn

 ></app-body2-bold>

</span>

<span class="extra-standard-space"></span>
   
   <markdown ngPreserveWhitespaces
   class="content"
   >

        {{blogPost.fields.articleContent}}


  </markdown>
   

   <span class="extra-standard-space"></span>

   
  
    </span>
</span>
 



</div>