.menu-icon{
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.icon{
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.icon-spacing{
    margin-left: 8px;
}

.icon-spacing--right{
    margin-right: 8px;
    
}

.icon-small{
    width: 18px;
    height: 18px;
    object-fit: contain;
}